@import url("//hello.myfonts.net/count/353cd4");

  
@font-face {
	font-family: 'MrChalk';
	src: url('../webfonts/353CD4_0_0.eot');src: url('../webfonts/353CD4_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/353CD4_0_0.woff2') format('woff2'),url('../webfonts/353CD4_0_0.woff') format('woff'),url('../webfonts/353CD4_0_0.ttf') format('truetype');}



* {margin: 0; padding: 0}

html, body { 
  min-height:100%

}

body {
background-color: whitesmoke;
/*  background-image: linear-gradient(#023867, #f6f7f7);*/
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.MrChalk { 
	font-family: MrChalk;
	font-weight: normal;
	font-style: normal;
}

/*
.thank_you {
	z-index: -50;
	position: fixed;
	bottom: 150px;
	left: 310px;
	border: 1px solid white;
	font-size: 3em;
	padding: .5em;
}
*/
.list {
	color: black;
	text-align: center;
	font-size: 1.2em;
}
.thank_you {
	z-index: -50;
	position: fixed;
	bottom: 344px;
	left: 400px;
	font-size: 2em;
	padding: .5em;
	width: 14em;
	color: grey;
}

.iconPlacement {
	z-index: -50;
	position: fixed;
	bottom: 0px;
	left: 0px;
/*	padding: .5em;*/
	padding-right: 1em;	
}

.iconBottom1 {
    display: inline-block;
    font-size: 1.4em;
    position: absolute;
    left: 80px;
    bottom: 13px;
	z-index: -49;
}

.iconBottom2 {
    display: inline-block;
    font-size: 1.4em;
    position: absolute;
    left: 105px;
    bottom: 13px;
}

.iconBottom3 {
    display: inline-block;
    font-size: 1.4em;
    position: absolute;
    left: 130px;
    bottom: 13px;
}

.inisde_thank_you {
/*	border: 1px solid white;*/
	padding: 1em;
	background-color: whitesmoke;
}

.devTitle {
    color: black;
    text-align: center;
    font-size: 1.5em;
    display: block;
    margin-top: .5em;
    border-top: 1px solid lightslategrey;
    border-bottom: 1px solid slategrey;
    padding: .1em;
}

.who {
	font-size: 1.2em;
	line-height: 160%;
}

.black {
	color: black;
}
#header {
	min-height: 50px;
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: all 1s ease-in-out;
	z-index: 150;
	
}

#header.active {
	border-bottom: 1px solid #6b7c93;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.active {
	border-bottom: 1px solid #6b7c93;
}

/*For Menu Rotation Idea*/
.page {
  height: 100%;
/*  background-color: #584E4A;*/
}

.content {
  height: 200%;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
  transition: -webkit-transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
  transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
  transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1), -webkit-transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
  background-color: #f0f0f0;
}

.content_inner {
  height: 50%;
  overflow-y: auto;
/*  padding: 50px 10%;*/
}

/*End For Menu Rotation*/

.menu_indicator {
	font-family: 'Amatic SC', cursive;
	position: absolute;
	left: 2.3em;
	top: 0em;
	padding-top: .2em;
	margin: 0.5em;
	float: left;
	/* font-family: 'Roboto', sans-serif; */
	color: black;
	margin-top: -0.3em;
	font-size: 2.5em;
}

.info {
	font-family: 'Nunito', sans-serif;
	position: absolute;
	top: 16px;
	right: 21px;
	color: #6b7c93;
	font-size: 1.5em
}

.logo {
	font-size: .7em;
	float: left;
	padding-right: 1em;
}

nav {
	float: right;
}

nav li {
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
}

p {
	font-family: 'Nunito', sans-serif;
    color: #6b7c93;
    font-size: 1.5em;
    line-height: 155%;
    margin-bottom: .5em;
}

h2 {
	font-family: 'Nunito', sans-serif;
	color: whitesmoke;
	text-align: center;
/*	margin-top: 1em;*/
	margin-bottom: .5em;
	font-size: 2em;
/*	text-shadow: 2px 2px 4px #ccc;*/
	background-color: mediumaquamarine;
/*
	border-top: 1px solid darkslategrey;
	border-bottom: 1px solid darkslategrey;
*/
	padding: .2em;
/*	box-shadow: 2px 2px 8px darkslategrey;*/
}

h3 {
	font-family: '#Nunito', sans-serif;
    color: darkslategrey;
    font-size: 1.5em;
    line-height: 125%;
    margin-bottom: .5em;
	text-align: center;
}
#intro {
/*
	background-image: url(../images/man_computer.png); 
	background-size: cover;
	background-position: center center;
	min-height: 640px;
	
*/
	background-color: white;
	margin-top: 2em;
/*	transform: rotate(-10deg);*/
}

.technology {
	color: black;
	padding: 0px;
	margin: 0px;
	font-size: 1.3em;
}

.used {
	font-size: 1em;
	line-height: 125%;
	color: black;
	padding-left: 1.3em;
}

.intro {
    margin-top: 5em;

}

#dev_skills {
/*	 background-image: url(../images/projects.png); */
/*	background-size: cover;*/
/*	background-position: center center;*/
/*	min-height: 640px;*/
	background-color: whitesmoke;
}

#h2 {
	position: relative;
	background-color: white;

}


.type-it {
	color: darkslategray;
/*	text-shadow: 2px 2px 4px #000;*/
}

p.adventures {
	font-size: 1em;
	line-height: 140%;
	
}


/*Comtact*/
.contact {
    color: black;
    padding: 1em;
    font-size: 1em;
	margin-top: 7em;
/*	position: absolute;*/
}

.fa {
    color: #6b7c93;
}
.fa-envelope:hover {
    color: crimson; 
}

.fa-linkedin-square:hover {
     color: crimson;   
}

.fa-github:hover {
     color: crimson;   
}

.menu_icon {
    float: left;
    padding-left: .5em;
    /* padding-right: .5em; */
	font-size: .7em
}

.iconName {
	float:left;
	padding-right: .5em;
	color: #2790B0;
	text-decoration: none;
}

.iconName a {
    text-decoration: none;
    color: #2790B0;
	font-size: .7em
}

.iconName a:hover {
    text-decoration: underline;
}
.grey {
    color: darkslategrey;
	text-align: center;
/*    text-align: center;*/
}


.link {
    color: darkslategrey;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.projects {
/*    border: 1px solid crimson;*/
    background-color: white;
	padding: .5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
	width: 90%;
	margin-right: .5em;
	position: relative;
	min-height: 34em;
}

.col-6.projects {
    width: 48%;
}
.dev {
/*    border: 1px solid crimson;*/
    background-color: white;
    margin-right: .8em;
	margin-bottom: .5em;
/*    border-radius: 5px;*/
}


/*
.projects:hover {
	box-shadow: 4px 4px 8px #000;
	background-color: antiquewhite;
}
*/
.who_div {
	background-color: white;
	
	
}
.whoamI {
	margin-top: 1em;
}
.image {
	width: 100%;
	max-height: 450px;
	overflow: hidden;
/*	border: 1px solid darkslategrey;*/
}

.nopad {
	/* width: 100%; */
	background-color: aliceblue;
	margin-bottom: 1em;
	border: 1px solid;
	padding: 5px;
}

.title {
	text-align: center;
	margin-bottom: .1em;
}
.orange {
    background-color: orange;
    padding: .2em;
    border: 1px solid darkslategrey;
    margin-bottom: .1em;
    margin-right: .1em;
    max-width: 49%;
	text-align: center;
	font-weight: bold;
}

#about {
	padding-bottom: 2em;
}

.linkButton {
	color: white;
	background-color: darkslategrey;
	text-align: center;
	width: 100%;
	padding: .5em;
	margin-top: .5em;
	border: 1px solid #2790B0;
}

.linkButton:hover {
    background-color: #2790B0;
	border: 1px solid crimson;
}


button { 
  	padding: .5em;
  	font-size: 1em;
  	text-decoration: none;
  	color: black;
  	position: relative;
  	display: inline-block;
  	width: 100%;
	background-color: aquamarine;
	border: 0px;
}

button:hover {
  transform: translate(2px, 2px);
  -webkit-transform: translate(2px, 2px);
  box-shadow: 4px 4px 8px #6b7c93;
}

.white {
	color: white;
}

.cool_image {
 position: absolute;
 right: 0px;
}

@media screen and (max-width:400px){	

	#header {
/*
	min-height: 75px;
	background-color: darkslategrey;
*/
    }
	
	.mobile {
    margin-top: 1em;
	}
	
	button { 
  	padding: .5em;
  	font-size: 1em;
  	text-decoration: none;
  	color: black;
  	position: relative;
  	display: inline-block;
  	width: 100%;
	background-color: aquamarine;
	border: 0px;
	margin-top: .5em;
}

	h2 {
		font-size: 1.6em;
	}
	.col-6.projects {
    width: 100%;
}
	.iconName {
		display:none;
	}
	
	.used {
	font-size: 1em;
	padding-left: 0;
}

	.dev {
    background-color: white;
    margin-right: .8em;
	margin-bottom: .5em;
}

	.menu_indicator {
		display: none;
	}

		.logo {
	font-size: .9em;
	position: absolute;
	left: -238px;
	}
	
	
	.linkButton {
	width: 100%;
	}

	.cool_image {
	display: none
	}
}

